@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #191f23;
}

#root {
    height: 100%;
}

.h1 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 96px;
    font-weight: 300;
}

.h2 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 60px;
    font-weight: 300;
}

.h3 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 400;
}

.h4 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 34px;
    font-weight: 400;
}

.h5 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 400;
}

.h6 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
}

.s1 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
}

.s2 {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
}

.text-body {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
}

.text-button {
    @apply align-middle;
    @apply leading-none;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
}

.recharts-yAxis
    .recharts-cartesian-axis-ticks
    .recharts-cartesian-axis-tick:first-of-type {
    display: none;
}
